img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 120px;
    justify-content: end;
}

h1{
    padding-right: 5%;
    position: relative;
    text-align: center;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}



#border{
    align-items: center;
    display: flex;
    background: rgba(139, 189, 182, 0.2);
    justify-content: center;
    width: 400px;
    border-radius: 20px;
}

th, td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
  }


 table{
    width: 296.5px;
 } 

  body {background-color: #ddd; margin: 3rem;}

#output {
  text-align: center;
  font-size: 18px;
  position: relative;

}
  









