.container{
    background-color: aquamarine;
    position: relative;
    width: 460px;
    height: 300;
    padding: 20px;
    margin: 20px;
}

.brownbox{
    background-color:chocolate;
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 0;
}

.violetbox{
    background-color: violet;
    position: fixed;
    height: 50px;
    width: 50px;
    right: 0;
    top: 0;

}

.yellowbox{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    margin: 5rem;
}

.flexcontainer{
    background-color: yellow;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center
}