.bluebox{
    background-color: blue;
    position: absolute;
    height: 400px;
    width: 400px;
    bottom: 0;
    right: 0;

}

.blackboxin{
    background-color: black;
    position: inherit;
    height: 150px;
    width: 150px;
    top:0;
    left: 0;
}

.blackboxout{
    background-color: black;
    position: absolute;
    height: 150px;
    width: 150px;
    bottom: 0;
    left: 0;
    margin: -45px;
}

.bigflex{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.greenbox{
    background-color: lightgreen;
    height: 450px;
    width: 300px;
}